:root {
  box-sizing: border-box;
  --thick: 3px;
  --size: 600px;
  --fontSize: 40px;
  --noteMargin: 10px;
  --light: #eee8d5;
  --light2: #d4be9a;
  --dark-orange: #674d25;
  --orange: #d8a65c;
  --orange2: #cb162867;
  --green: #8c945c;
  --light-green: #e0ca2986;
  --brown: #4b4441;
  --light-brown: #4b444180;
  --black: #32302f;
  --light-black: #645f5d;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
}
#sudoku {
  display: flex;
  justify-content: center;
  align-items: center;

  flex-direction: column;
}
#container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

board {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0;
  background-color: var(--light);
}

cell {
  border-left: 1px solid var(--dark-orange);
  border-bottom: 1px solid var(--dark-orange);
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  z-index: 2;
  will-change: transform;
  pointer-events: none;
}

note {
  color: var(--green);
  font-size-adjust: 0.545;
  margin-top: 12px;
  margin-left: 3px;
}

cell > p {
  font-size: calc(1vh + 1vw + 2vmin);
  margin: auto;
  width: 100%;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-content: center;
  /* height: 100%; */
  font-weight: 400;
}

numpad {
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  clear: both;
  width: 100%;
}

numpad > * {
  font-size: 32px;
  width: 100%;
  background-color: var(--light2);
  text-align: center;
  aspect-ratio: 1/1;
  border: 1px solid var(--brown);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--black);
}

.selected {
  background-color: var(--light-green);
}
.highlighted {
  background-color: #bb951a53;
}

.panel {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-top: 0.3em;
}
.buttons {
  width: 100%;
  text-transform: capitalize;
  background-color: var(--brown);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

.horizontal-lines-top {
  border-top: var(--thick) solid var(--orange);
  margin-top: -2px;
}
.horizontal-lines-bottom {
  border-bottom: var(--thick) solid var(--orange);
  margin-bottom: -2px;
}

.vertical-lines-left {
  border-left: var(--thick) solid var(--orange);
  margin-left: -2px;
}
.vertical-lines-right {
  border-right: var(--thick) solid var(--orange);
  margin-right: -2px;
}

#aside {
  display: flex;
  flex-direction: column;
}

.duplicates {
  background-color: var(--orange2);
}
.btn-pressed {
  opacity: 0.5;
}

.origin-cells {
  color: var(--light-black);
}
.new-cells {
  color: var(--light-brown);
}

.hide {
  visibility: hidden;
}
.btn-section {
  display: flex;
}

.timer-seciton {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  background: var(--orange);
}
.timer-seciton > * {
  font-size: 32px;
  color: white;
}
