@media only screen and (min-device-width: 600px) {
  #sudoku {
    width: 799px;
    display: block;
    margin: auto;
    margin-top: 50px;
  }
  #container {
    display: grid;
    grid-template-columns: 1fr 20%;
    grid-template-rows: auto auto auto auto auto auto auto;
    overflow: hidden;
    border: 1px solid red;
  }
  board {
    display: block;
  }
  #aside {
    display: block;

    justify-self: end;
  }
  numpad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
}
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
}

/* ----------- Retina Screens ----------- */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 2) and (min-resolution: 192dpi) {
}
