:root {
  box-sizing: border-box;
  --thick: 3px;
  --size: 600px;
  --fontSize: 40px;
  --hintMargin: 10px;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
}
#sudoku {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#container {
  width: var(--size);
  height: var(--size);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

board {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0;
}

cell {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  font-size: 12px;
}

hint {
  color: rgb(43, 102, 212);
  font-size-adjust: 0.545;
  margin-top: 12px;
  margin-left: 3px;
}

cell > p {
  font-size: 50px;
  margin: auto;
  width: 100%;
  align-self: stretch;
  display: flex;
  justify-content: center;
  align-content: center;
  /* height: 100%; */
  background-color: red;
  font-weight: 400;
}

numpad {
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  clear: both;
  width: 100%;
  margin-top: 1em;
}

numpad > * {
  font-size: 32px;
  width: 100%;
  background-color: rgb(93, 162, 226);
  text-align: center;
  aspect-ratio: 1/1;
  border: 1px solid rgb(255, 255, 255);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}

.selected {
  background-color: rgba(6, 6, 172, 0.288);
}
.highlighted {
  background-color: rgba(6, 6, 172, 0.11);
}

.panel {
  width: 100%;
  display: flex;
  align-content: center;
  margin-bottom: 1em;
  padding: 0;
  margin-top: 0;
}
#hintBTN {
  background-color: rebeccapurple;
}
#hintBTN.clicked {
  background-color: red;
}

.buttons {
  text-transform: capitalize;
}
.horizontal-lines-top {
  border-top: var(--thick) solid black;
  margin-top: -3px;
}
.horizontal-lines-bottom {
  border-bottom: var(--thick) solid black;
  margin-bottom: -3px;
}

.vertical-lines-left {
  border-left: var(--thick) solid black;
  margin-left: -3px;
}
.vertical-lines-right {
  border-right: var(--thick) solid black;
  margin-right: -3px;
}

.hinting {
  background-color: azure;
}

#aside {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#aside > * {
  font-size: 32px;

  background-color: rgb(93, 162, 226);
  text-align: center;
  aspect-ratio: 1/1;
  border: 1px solid rgb(255, 255, 255);
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  color: aliceblue;
}
.duplicates {
  background-color: rgba(226, 93, 93, 0.219);
}
