:root {
  box-sizing: border-box;
}
*,
::before,
::after {
  margin: 0;
  padding: 0;
}
#sudoku {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#container {
  width: 500px;
  height: 500px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

board {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  line-height: 0;
}

cell {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin: 0;
  padding: 0;
  font-size: 10px;
}

hint {
  margin-left: 5px;
  margin-top: 7px;
  color: gray;
}

cell > p {
  font-size: 25px;
  margin: auto;
  width: 100%;
}

.cell-top-row {
  border-top: 1px solid black;
}
.cell-right-row {
  border-right: 1px solid black;
  height: 100%;
}

numpad {
  display: flex;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  clear: both;
  width: 100%;
  gap: 1em;
}

numpad > * {
  font-size: 32px;
  width: 100%;
  background-color: bisque;
  text-align: center;
}

.selected {
  background-color: rgb(212, 212, 255);
}
